doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Conference Management System
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body
        h2 Add a presenter
        form(action="add-presenter" method="post")
            input(name="name" type="text" placeholder="Name")
            input(name="email" type="text" placeholder="Email")
            input(name="affiliation" type="text" placeholder="Affiliation")
            input(type="submit" value="Add presenter")
        h2 List of registered presenters
        ul
            each presenter in presenters
                li= presenter.name
