doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Conference Management System
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="/assets/style.min.css")
    body
        a(href="/") index
        h2 Add a presenter
        form(action="add-presenter" method="post")
            input(name="name" placeholder="Name")
            input(name="email" placeholder="Email")
            input(name="affiliation" placeholder="Affiliation")
            input(type="submit" value="Add presenter")
        h2 List of registered presenters
        ul
            each presenter in presenters
                li= presenter.name + ' ________ ' + presenter.email
