doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Conference Management System
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="/style.min.css")
    body
      main
        h3 Admin view - assign a reviewer to a submission
        form(action="/admin/assign-reviewer" method="post")
          input(name="reviewer" placeholder="Reviewer id" required)
          input(name="submission" placeholder="Submission id" required)
          input(type="submit" value="Assign reviewer")
        p=message
        h3 List of registered reviewers
        ul
          each reviewer in reviewers
            li= reviewer.name + ' | ' + reviewer.email + ' | ID: ' + reviewer._id
        h3 List of submissions
        ul
          each submission in submissions
            li= submission.title + ' | ID: ' + submission._id + ' | Reviewer_ID: ' + submission.reviewer
        
