include templates/navigation.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Conference Management System
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/style.min.css")
  body
    +cmsnav("Index page")
    main
      p="Welcome, " + attendant.name +" "
      br
      ul
        each sub in submissions
          li= sub.title
            a(href="/details/"+sub._id) See
