include templates/navigation.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Conference Management System
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/style.min.css")
  body
    +cmsnav("Send submission page")
    
    main
      p= attendant.name
      p= attendant.email
      p= attendant.affiliation
                
