<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        Send submission view
        <form action="/send-submission" method="post">
            <input type="submit" value="Send submission">
        </form>
    </body>
</html>
