doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Conference Management System
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/assets/style.min.css")
  body
    include templates/navigation.pug
    h2 You are not allowed to perform this action.
