doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Conference Management System
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body
        h2 Submissions for #{presenter.name}
        ul
            each submission in submissions
                li= submission.title
                    a(href="view-submission-details?id=" + submission._id) View details
