<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>View submissions view</h1>
        <% for (var index in submissions) { %>
            <p><%= submissions[index].title %></p>
        <% } %>
    </body>
</html>
